.section-home {
    background-image: url('../image/coffe.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}

.home-container {
    color: #fff;
    height: 100%;
    display: flex
}