<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование бронирования</title>
</head>
<body>
<h1>Редактирование бронирования</h1>

<form th:action="@{/reservations/update/{id}(id=${reservation.id})}" th:object="${reservation}" method="post">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required>
  </div>

  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" th:field="*{phone}" required>
  </div>

  <div>
    <label for="count">Count:</label>
    <input type="number" id="count" th:field="*{count}" required>
  </div>

  <div>
    <label for="reservationTime">Date/Time:</label>
    <input type="datetime-local" id="reservationTime"
           th:field="*{reservationTime}"
           th:value="${#temporals.format(reservation.reservationTime, 'yyyy-MM-dd''T''HH:mm')}">
  </div>

  <button type="submit">Изменить</button>
</form>
</body>
</html>