<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css-file/style.css">
    <link rel="stylesheet" href="/css-file/home.css">
    <link rel="stylesheet" href="/css-file/modal.css">
    <link rel="stylesheet" href="/css-file/map.css">
    <link rel="stylesheet" href="/css-file/slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Кафе</title>
</head>
<body>
<section id="header" class="section-header">
    <div class="container">
        <div class="header-line">
            <div class="nav">
                <a class="nav-item" href="#home">ГЛАВНАЯ</a>
                <a class="nav-item" href="#info-section">О НАС</a>
                <a class="nav-item" href="#map-section">КАРТА</a>
                <a class="nav-item" th:href="@{/menu}">МЕНЮ</a>
            </div>

            <div class="phone">
                <div class="phone-holder">
                    <div class="phone-image">
                        <img src="/image/phone.png" alt="Телефон">
                    </div>
                    <div class="number">
                        <a class="num" href="tel:+1234567890" id="copyPhoneBtn">+123-456-78-90</a>
                        <div class="copy-notification" id="copyNotification">Номер скопирован!</div>
                    </div>
                </div>
                <div class="phone-text">
                    Свяжитесь с нами <br> для бронирования
                </div>
            </div>

            <div class="btn">
                <a class="button" href="#" id="openModalBtn">Забронировать</a>
            </div>
        </div>
    </div>
</section>
<script src="/js/copy-phone.js"></script>

<section id="home" class="section-home">
    <div class="home-container">
        <div class="home-line">
            <h1>Кофе — это не просто напиток, <br>а молчаливый собеседник, <br>согревающий душу и пробуждающий мысли</h1>
        </div>
    </div>
</section>

<section id="info-section" class="section-info">
    <div class="slider">
        <div class="slide active">
            <img src="/image/slide1.png" alt="">
            <div class="slide-content">
                <h3>Ароматный кофе</h3>
                <p>Попробуйте наш новый сорт арабики с нотками шоколада и карамели. Идеально для начала дня!</p>
                <a th:href="@{/menu}" class="slide-btn">Меню</a>
            </div>
        </div>

        <div class="slide">
            <img src="/image/slide2.png" alt="">
            <div class="slide-content">
                <h3>Свежие булочки</h3>
                <p>Только у нас – свежая, ароматная выпечка, от которой невозможно оторваться!</p>
                <a th:href="@{/menu}" class="slide-btn">Меню</a>
            </div>
        </div>

        <div class="slide">
            <img src="/image/slide3.png" alt="">
            <div class="slide-content">
                <h3>Новое летнее меню!</h3>
                <p>Холодные весененние деньки подошли к своему концу и настало время освежиться с нашими эксклюзивными сезонными напитками!</p>
                <a th:href="@{/menu}" class="slide-btn">Меню</a>
            </div>
        </div>

    </div>

    <button class="prev">‹</button>
    <button class="next">›</button>

    <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</section>
<script src="/js/slide.js"></script>

<section id="map-section" class="section-map">
    <div id="map">
        <div class="location-container">
            <div class="location-info">
                <h2>Наше расположение</h2>
                <p>Мы находимся в самом центре города по адресу:</p>
                <p><strong>Сибирский Tракт, 12</strong></p>
                <p>Часы работы: <br>Пн-Пт: 10:00-22:00 <br>Сб-Вс: 11:00-23:00</p>
                <p>Телефон: <a>+123-456-78-90</a></p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.1570426186536!2d49.18238187739031!3d55.80787397310458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415eb285011a3d61%3A0xe5b32f11a7edc2fd!2z0JrQvtGA0L_Rg9GBICLQlCIgItCVIiAi0JsiICLQnCI!5e0!3m2!1sru!2sde!4v1751736638246!5m2!1sru!2sde"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">

            </iframe>
        </div>
    </div>
</section>
<script src="/js/map.js"></script>

<div id="reservationModal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2 class="form-title">Бронирование столика</h2>
        <form class="reservation-form" th:action="@{/reservations/new}" th:object="${reservation}" method="post">
            <div class="form-group">
                <label class="form-label">Ваше имя</label>
                <input type="text" th:field="*{name}" placeholder="Иван Иванов" required>
            </div>

            <div class="form-group">
                <label class="form-label">Номер телефона</label>
                <input type="tel" th:field="*{phone}" placeholder="+1 (234) 567-89-00" required>
            </div>

            <div class="form-group">
                <label class="form-label">Количество гостей</label>
                <select th:field="*{count}" required>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="form-group">
                <label class="form-label">Дата и время</label>
                <input type="datetime-local" th:field="*{reservationTime}" required>
            </div>

            <div class="button-group">
                <button type="submit">Подтвердить бронь</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/modal.js"></script>

<div th:if="${success}" class="form-success" th:text="${success}"></div>
<div th:if="${error}" class="form-error" th:text="${error}"></div>

</body>
</html>