<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css-file/style.css">
  <link rel="stylesheet" href="/css-file/home.css">
  <link rel="stylesheet" href="/css-file/modal.css">
  <link rel="stylesheet" href="/css-file/map.css">
  <link rel="stylesheet" href="/css-file/slider.css">
  <link rel="stylesheet" href="/css-file/menu.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <title>Меню</title>
</head>
<body>
<div th:insert="~{fragment/header :: #header}"></div>

<div class="menu-container">
  <h1 class="menu-title">Меню</h1>

  <div class="menu-items">
    <a class="menu-item" th:href="@{/menu/{category}(category='drinks')}">
      <img src="/image/slide1.png" alt="">
      <div class="image-overlay"></div>
      <h2>Напитки</h2>
      <p class="menu-label">Кофе, чай, лимонады</p>
    </a>

    <a class="menu-item" th:href="@{/menu/{category}(category='food')}">
      <img src="/image/slide2.png" alt="">
      <div class="image-overlay"></div>
      <h2>Выпечка</h2>
      <p class="menu-label">Свежая и ароматная <br> выпечка</p>
    </a>

    <a class="menu-item" th:href="@{/menu/{category}(category='special')}">
      <img src="/image/slide3.png" alt="">
      <div class="image-overlay"></div>
      <h2>Сезонные</h2>
      <p class="menu-label">Специальные предложения</p>
    </a>
  </div>
</div>
</body>
</html>