<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css-file/style.css">
  <link rel="stylesheet" href="/css-file/menu.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <title>Меню</title>
</head>
<body>
<section id="header" class="section-header">
  <div class="container">
    <div class="header-line">
      <div class="nav">
        <a class="nav-item" th:href="@{/}">ГЛАВНАЯ</a>
      </div>

      <div class="phone">
        <div class="phone-holder">
          <div class="phone-image">
            <img src="/image/phone.png" alt="Телефон">
          </div>
          <div class="number">
            <a class="num" href="tel:+1234567890" id="copyPhoneBtn">+123-456-78-90</a>
            <div class="copy-notification" id="copyNotification">Номер скопирован!</div>
          </div>
        </div>
        <div class="phone-text">
          Свяжитесь с нами <br> для бронирования
        </div>
      </div>

      <div class="btn">
        <a class="button" href="#" id="openModalBtn">Забронировать</a>
      </div>
    </div>
  </div>
</section>
<script src="/js/copy-phone.js"></script>

<div class="menu-container">
  <h1 class="menu-title">Меню</h1>

  <div class="menu-items">
    <a class="menu-item" th:href="@{/menu/{category}(category='drinks')}">
      <img src="/image/slide1.png" alt="">
      <div class="image-overlay"></div>
      <h2>Напитки</h2>
      <p class="menu-label">Кофе, чай, лимонады</p>
    </a>

    <a class="menu-item" th:href="@{/menu/{category}(category='food')}">
      <img src="/image/slide2.png" alt="">
      <div class="image-overlay"></div>
      <h2>Выпечка</h2>
      <p class="menu-label">Свежая и ароматная <br> выпечка</p>
    </a>

    <a class="menu-item" th:href="@{/menu/{category}(category='special')}">
      <img src="/image/slide3.png" alt="">
      <div class="image-overlay"></div>
      <h2>Сезонные</h2>
      <p class="menu-label">Специальные предложения</p>
    </a>
  </div>
</div>
</body>
</html>